
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>



<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="(()=>
{
    childComponent.Show();
})" 
>Show Child Component</button>
<button class="btn btn-light" @onclick="(()=>
{
    childComponent.Hide();
})" 
>Hide Child Component</button>

<ChildComponent @ref="childComponent"></ChildComponent>

@code {
    [Parameter]
    public EventCallback<int> SetCurrentCount { get; set; }
    private ChildComponent childComponent;
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        SetCurrentCount.InvokeAsync(currentCount);
    }
}
