@page "/teams"
<h3 style="color:blue">Teams Component</h3>
<table class="table">
    <tr>
        <th>Team</th>
        <th>Region</th>
    </tr>
    @foreach(var team in teams)
    {
        <tr>
            <td><a href="@($"team/{team.Id}")" class="nav-link">@team.Name</a></td>
            <td>@team.Region</td>
        </tr>
    }

</table>

@code {
    [CascadingParameter]
    public string Color { get; set; }

    private List<Team> teams;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        teams = new List<Team>();
        teams.Add(new Team { Id = 1, Name = "Green", Region = "Region1" });
        teams.Add(new Team { Id = 2, Name = "Red", Region = "Region2" });
        teams.Add(new Team { Id = 3, Name = "White", Region = "Region3" });
        teams.Add(new Team { Id = 4, Name = "Yellow", Region = "Region4" });


    }
    public class Team
    {
        public int Id { get; set; }

        public string Name { get; set; }

        public string Region { get; set; }
    }

}
